body {
    padding: 0px;
    margin: 0px auto;
  }
  
  a {
    text-decoration: none;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    // color: #2c3e50;
  }
  
  //home.vue
  .el-menu-item, .el-submenu__title {
    color: rgba(255, 255, 255, 0.65);
    // color: #fff;
    background: #001529;
  }
  
  .el-menu .el-menu-item, .el-submenu .el-submenu__title {
    height: 46px;
    line-height: 46px;
  }
  
  .el-menu-item:hover, .el-submenu .el-menu-item:hover, .el-submenu__title:hover {
    // color: #FF7F24;
    color: #fff;
    background: #001529;
  }
  
  .el-submenu .el-menu-item {
    background-color: #000;
  }
  
  .el-submenu .el-menu-item:hover {
    background-color: #000;
    // color: #FF7F24;
    color: #fff;
  }
  
  .el-submenu .el-menu-item.is-active, .el-menu-item.is-active,
  .el-submenu .el-menu-item.is-active:hover, .el-menu-item.is-active:hover {
    background-color: #FF7F24;
    color: #fff;
  }
  
  .el-menu .iconfont {
    vertical-align: baseline;
    margin-right: 6px;
  }
  
  .warp-breadcrum{
    margin: 5px 10px 15px 0px;
  }

  .el-input__inner {
    color:#f56c6c;
    font-size: 16px;
    font-weight: 500;
    border-radius: 15px;
    // margin-left: 70px;
  }
  .el-button--primary {
    width:260px !important;
    border-radius: 15px;
    border: none;
    // margin-left: 70px;
  }
  .el-input__inner::-webkit-input-placeholder {
    color:#f56c6c;
  }
  .el-input__inner:-ms-input-placeholder { /* IE10+ */
    color:#f56c6c;
  }
  .el-input__inner:-moz-placeholder { /* Firefox4-18 */
    color:#f56c6c;
  }
  .el-input__inner::-moz-placeholder { /* Firefox19+ */
    color:#f56c6c;
  }

  .el-input {
    margin-bottom: 22px;
    width: 400px !important;
    opacity: 0.7;
  }
  .el-form-item {
    margin-bottom: 0;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border-color: #fff;
    background-color: none !important;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #fff;
  }
  .el-checkbox__input.is-focus .el-checkbox__inner {

  }
  .el-checkbox {
    color: #fff;
  }

  .el-select .el-input__inner:focus {
    border-color: #f56c6c;
  }

  .el-select-dropdown__item.selected {
    color: #f56c6c;
  }
  .el-select .el-input.is-focus .el-input__inner {
    border-color: #f56c6c;
  }